In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import collections
import numpy as np

# Configuração para melhorar a visualização dos gráficos no Jupyter/Colab
%matplotlib inline
sns.set_style('darkgrid')

In [23]:
df = pd.read_csv('../data/world_population.csv')
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [24]:
# Top 10 Populosos
top10_população = df.sort_values(by=['World Population Percentage'], ascending=False)
top10_população.head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
131,10,MEX,Mexico,Mexico City,North America,127504125,125998302,120149897,112532401,97873442,81720428,67705186,50289306,1964375,64.9082,1.0063,1.60

In [25]:
# Quais são os 5 maiores países em área (Area (km²)).
maiores_area = df.sort_values(by='Area (km²)', ascending=False)
maiores_area.head(5)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
35,39,CAN,Canada,Ottawa,North America,38454327,37888705,35732126,33963412,30683313,27657204,24511510,21434577,9984670,3.8513,1.0078,0.48
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70

In [26]:
# Quantos países de cada continente estão presentes no dataset?
quant_continente = df['Continent'].value_counts()
quant_continente

Continent
Africa           57
Asia             50
Europe           50
North America    40
Oceania          23
South America    14
Name: count, dtype: int64

In [27]:
# Qual era a população média dos países em 1970? E a mediana?
media = df['1970 Population'].mean().round(2)
mediana = df['1970 Population'].median()

print(f'A média de população em 1970 era de: {media}')
print(f'A mediana de população em 1970 era de: {mediana}')

A média de população em 1970 era de: 15786908.81
A mediana de população em 1970 era de: 2604830.0

In [28]:
# Encontre os dados da Algeria.

algeria = df[df['Country'] == 'Algeria']
algeria

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56

In [29]:
# Crescimento Populacional - ((pop_2022 - pop_1970) / pop_1970) * 100.

df['Crescimento'] = (((df['2022 Population'] - df['1970 Population']) / df['1970 Population']) * 100).round(2)
Crescimento_Populacional = df.sort_values(by='Crescimento', ascending=False).head(10)

print(f'O pais com maior crescimento populacional foi: {Crescimento_Populacional['Country'].iloc[0]}')

O pais com maior crescimento populacional foi: United Arab Emirates

In [30]:
# Qual é a população total de cada continente em 2022?
grupo_continente = df.groupby('Continent')['2022 Population'].sum().sort_values(ascending=False)
grupo_continente

Continent
Asia             4721383274
Africa           1426730932
Europe            743147538
North America     600296136
South America     436816608
Oceania            45038554
Name: 2022 Population, dtype: int64

In [31]:
# Continuar 'https://g.co/gemini/share/8fbd0918cb43'

In [32]:
# Quais países tiveram uma população em 2022 menor do que em 2020?

paises_menores = df[df['2022 Population'] < df['2020 Population']]
paises_menores = paises_menores.drop(columns=['Rank', 'CCA3', '2015 Population', '2010 Population','2000 Population', '1990 Population', '1980 Population','1970 Population', 'World Population Percentage', 'Crescimento']).reset_index(drop=True)

paises_menores['Diferença %'] = ((paises_menores['2020 Population'] - paises_menores['2022 Population']) / paises_menores['2022 Population']) * 100
paises_menores = paises_menores.sort_values(by=['Diferença %'], ascending=False).reset_index(drop=True)
paises_menores.head()

,Country,Capital,Continent,2022 Population,2020 Population,Area (km²),Density (per km²),Growth Rate,Diferença %
0,Ukraine,Kiev,Europe,39701739,43909666,603500,65.7858,0.9120,10.598848
1,Marshall Islands,Majuro,Oceania,41569,43413,181,229.6630,0.9886,4.435998
2,American Samoa,Pago Pago,Oceania,44273,46189,199,222.4774,0.9831,4.327694
3,Lebanon,Beirut,Asia,5489739,5662923,10452,525.2334,0.9816,3.154685
4,Bulgaria,Sofia,Europe,6781953,6979175,110879,61.1654,0.9849,2.908041

In [33]:
paises_menores.columns

Index(['Country', 'Capital', 'Continent', '2022 Population', '2020 Population',
       'Area (km²)', 'Density (per km²)', 'Growth Rate', 'Diferença %'],
      dtype='object')

In [34]:
df.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Crescimento
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,282.49
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,22.26
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,225.48
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,63.52
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,301.93

In [35]:
# Encontre todos os países da Asia com uma população maior que 50 milhões em 2022.

asia = df[(df['Continent'] == 'Asia') & (df['2022 Population'] > 50000000)].sort_values(by=['2022 Population'], ascending=False)
asia

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Crescimento
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88,73.35
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77,154.20
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45,139.09
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96,297.74
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15,153.45
102,11,JPN,Japan,Tokyo,Asia,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930,327.9753,0.9947,1.55,17.58
163,13,PHL,Philippines,Manila,Asia,115559009,112190977,103031365,94636700,77958223,61558898,48419546,37435586,342353,337.5434,1.0147,1.45,208.69
228,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23,134.17
94,17,IRN,Iran,Tehran,Asia,88550570,87290193,81790841,75373855,65544383,55793629,38520664,28449705,1648195,53.7258,1.0071,1.11,211.25
213,18,TUR,Turkey,Ankara,Asia,85341241,84135428,79646178,73195345,64113547,54324142,44089069,35540990,783562,108.9145,1.0067,1.07,140.12
206,20,THA,Thailand,Bangkok,Asia,71697030,71475664,70294397,68270489,63066603,55228410,45737753,35791728,513120,139.7276,1.0013,0.90,100.32
140,26,MMR,Myanmar,Nay Pyi Taw,Asia,54179306,53423198,51483949,49390988,45538332,40099553,33465781,27284112,676578,80.0784,1.0071,0.68,98.57
194,29,KOR,South Korea,Seoul,Asia,51815810,51844690,50994401,48813042,46788591,44120039,38170501,32601143,100210,517.0722,0.9997,0.65,58.94

In [36]:
# Qual é o país mais populoso de cada continente em 2022? # Usando .groupby(), .loc e .idxmax() para encontrar o país mais populoso de cada continente

# Primeiro, agrupamos os dados por 'Continente' e encontramos o índice do país com a maior população em cada grupo.
idx = df.groupby('Continent')['2022 Population'].idxmax()

# Em seguida, usamos os índices encontrados com .loc para obter as linhas completas do DataFrame.
most_populous = df.loc[idx]

# Exibindo o resultado final
print("País mais populosos por continente em 2022:")
most_populous

País mais populosos por continente em 2022:

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Crescimento
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74,293.28
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88,73.35
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81,11.24
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24,68.87
11,55,AUS,Australia,Canberra,Oceania,26177413,25670051,23820236,22019168,19017963,17048003,14706322,12595034,7692024,3.4032,1.0099,0.33,107.84
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70,123.42

In [37]:
# Existe alguma correlação entre a área de um país (Area (km²)) e sua população em 2022 (2022 Population)?

# Definir a função get_correlation_strength fornecida anteriormente
def get_correlation_strength(r):
    abs_r = abs(r)

    if 0.9 <= abs_r <= 1.0:
        return "Muito forte"
    elif 0.7 <= abs_r < 0.9:
        return "Forte"
    elif 0.5 <= abs_r < 0.7:
        return "Moderada"
    elif 0.3 <= abs_r < 0.5:
        return "Fraca"
    else:  # abs_r < 0.3
        return "Muito fraca / Nula"

# Calcular a matriz de correlação conforme o código do usuário
print("Calculando a matriz de correlação...")
correlacao = df[['Area (km²)', '2022 Population']].corr()
print("Matriz de Correlação:")
print(correlacao)
print("-" * 30)

# Extrair o valor da correlação entre as duas colunas
# Pegamos o valor específico na intersecção da linha 'Area (km²)' e da coluna '2022 Population'
valor_correlacao = correlacao.loc['Area (km²)', '2022 Population']

print(f"O coeficiente de correlação é: {valor_correlacao:.6f}")
print("-" * 30)

# Usar a função para obter a força da correlação
forca_correlacao = get_correlation_strength(valor_correlacao)

print(f"A força da correlação é: {forca_correlacao}")

Calculando a matriz de correlação...
Matriz de Correlação:
                 Area (km²)  2022 Population
Area (km²)         1.000000         0.453411
2022 Population    0.453411         1.000000
------------------------------
O coeficiente de correlação é: 0.453411
------------------------------
A força da correlação é: Fraca

In [38]:
# Calcule a população mundial total para cada ano disponível no dataset (1970, 1980, 1990, 2000, 2010, 2015, 2020, 2022).

def soma_população(df):
    colunas_population = [col for col in df.columns if col.endswith('Population')]
    lista = []
    
    for i in colunas_population:
        sum = df[i].sum()
        info = [i, sum]
        lista.append(info)
        
    return lista
        

população_mundial_total = soma_população(df)

# Transforma a lista em um DataFrame, especificando os nomes das colunas
df_população = pd.DataFrame(população_mundial_total, columns=['Anos', 'Total_População'])

df_população['Anos'] = df_população['Anos'].str.extract(r'(\d{4})')
df_população = df_população.sort_values(by='Anos', ascending=True).reset_index(drop=True)
df_população

   Anos  Total_População
0  1970       3694136661
1  1980       4442400371
2  1990       5314191665
3  2000       6147055703
4  2010       6983784998
5  2015       7424809761
6  2020       7839250603
7  2022       7973413042

In [39]:
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Crescimento
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,282.49
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,22.26
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,225.48
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,63.52
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,301.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00,23.41
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01,654.19
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42,392.38
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25,367.52
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20,213.68

In [40]:
# Outliers: Identifique possíveis outliers na coluna Growth Rate. Países com taxas de crescimento muito altas ou muito baixas.
# Dica: Você pode calcular o Z-score ou usar o método do intervalo interquartil (IQR).

# O método do Intervalo Interquartil (IQR) é uma forma robusta de encontrar outliers.
# Calcular Q1 (primeiro quartil), Q3 (terceiro quartil) e IQR

# 1. Análise Descritiva da Coluna 'Growth Rate'
print("--- Análise Descritiva da 'Growth Rate' ---")
estatisticas = df['Growth Rate'].describe()
print(estatisticas)
print("-" * 40)

# 2. Cálculo dos Limites para Detecção de Outliers (seu código original)
Q1 = df['Growth Rate'].quantile(0.25)
Q3 = df['Growth Rate'].quantile(0.75)
IQR = Q3 - Q1

limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

print("\n--- Limites Calculados para Outliers ---")
print(f"Limite Inferior (qualquer valor abaixo é outlier): {limite_inferior:.4f}")
print(f"Limite Superior (qualquer valor acima é outlier): {limite_superior:.4f}")
print("-" * 40)


# 3. Filtrar e Apresentar os Outliers (seu código original, com mais contexto)
outliers = df[(df['Growth Rate'] < limite_inferior) | (df['Growth Rate'] > limite_superior)]

print("\n--- Países com Taxa de Crescimento Considerada Outlier ---")
if outliers.empty:
    print("Nenhum outlier encontrado com base no método IQR.")
else:
    print(outliers[['Country', 'Growth Rate']].sort_values(by='Growth Rate', ascending=False))
print("-" * 40)

--- Análise Descritiva da 'Growth Rate' ---
count    234.000000
mean       1.009577
std        0.013385
min        0.912000
25%        1.001775
50%        1.007900
75%        1.016950
max        1.069100
Name: Growth Rate, dtype: float64
----------------------------------------

--- Limites Calculados para Outliers ---
Limite Inferior (qualquer valor abaixo é outlier): 0.9790
Limite Superior (qualquer valor acima é outlier): 1.0397
----------------------------------------

--- Países com Taxa de Crescimento Considerada Outlier ---
     Country  Growth Rate
133  Moldova       1.0691
164   Poland       1.0404
218  Ukraine       0.9120
----------------------------------------

In [41]:
# Faça um ranking dos continentes com base na sua taxa de crescimento (Growth Rate) média.

# Calcular a taxa de crescimento média para cada continente
taxa_media_continente = df.groupby('Continent')['Growth Rate'].mean().sort_values(ascending=False)

# Criar um DataFrame a partir do resultado para melhor visualização
df_ranking = taxa_media_continente.reset_index(name='Taxa de Crescimento Media')

print("Ranking de continentes por taxa de crescimento média:")
print(df_ranking)

Ranking de continentes por taxa de crescimento média:
       Continent  Taxa de Crescimento Media
0         Africa                   1.021244
1           Asia                   1.009384
2  South America                   1.007957
3        Oceania                   1.007383
4  North America                   1.004175
5         Europe                   1.002256